version: '3.8'
services:
  Orders_db:
    container_name: orders_db
    image: postgres:latest
    ports:
      - 5436:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: orders_db
    volumes:
      - orders_data:/var/lib/postgresql/data
volumes:
  orders_data:
    name: Orders_Db_Data
